.cards {
  font-family: "Inter", "Arial", sans-serif;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 17px;
}

@media screen and (max-width: 896px) {
  .cards {
    padding: 0 19px;
  }
}
