.page {
  min-width: 320px;
  max-width: 880px;
  margin: 0 auto;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 45px 0 60px;
}

@media screen and (max-width: 544px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
