.popup__container {
  width: 100%;
  max-width: 430px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 544px) {
  .popup__container {
    margin: 0 19px;
  }
}
