.popup__form-title {
  margin: 0 0 16px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

@media screen and (max-width: 544px) {
  .popup__form-title {
    margin-bottom: 43px;
    font-size: 18px;
    line-height: 1.22;
  }
}
