.profile__user-edit {
  display: flex;
  align-items: baseline;
  gap: 18px;
}

@media screen and (max-width: 544px) {
  .profile__user-edit {
    width: 244px;
    justify-content: end;
    gap: 10px;
  }
}
