.profile__user-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 544px) {
  .profile__user-wrapper {
    align-items: center;
  }
}
