.profile__user-wrapper {
  max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 896px) {
  .profile__user-wrapper {
    max-width: 260px;
  }
}

@media screen and (max-width: 544px) {
  .profile__user-wrapper {
    max-width: 220px;
  }
}
