.profile__user-descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 544px) {
  .profile__user-descr {
    font-size: 14px;
  }
}
